.carousel-caption {
    position: absolute;
    top: 250px;
    left: 0;
    padding: 20px;
     text-align: left; 
  }
  .carousel-caption h5{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
  }
  .carousel-caption button{
border: none;
color: #747474;
font-weight: 500;
padding: 1vw 2.3vw;
background-color: white;
font-size: max(1vw,13px);
border-radius: 50px;
  }